@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800;1,900&display=swap');

:root {
    --main-color: #ececec;
    --black: #222;
    --white: #fff;
    --light--black: #777;
    --dark-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(20, 16, 20, 1);
    --text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: var(--main-color);

}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* base header syling starts here */

.header {
    top: 0; left: 0; right: 0;
    z-index: 1000;
    position:fixed;
}

.menu_bar {
    background-color: var(--main-color);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;

}

.menu_bar a img#website_logo  {
    border-radius: 2rem;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 10px;
    position: relative;
}

.menu_bar ul li  a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: white hidden;
    padding: .75rem;
    border-radius: 2.5rem hidden;
    transition: all 0.6s;

}

.menu_bar ul li  a:hover {
    background-color: white;
    border-radius: 2.5rem;
}

.dropdown_menu_1{
    display: none;
}

.menu_bar ul li:hover .dropdown_menu_1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 2.5rem;
    background-color: white;
    margin-top: 0;
}

.menu_bar ul li:hover .dropdown_menu_1 ul {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #bebebed5;
    border-radius: 2.5rem;
}

.menu_bar ul li:hover .dropdown_menu_1 ul li {
    width: 250px;
    padding: 10px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown_menu_2 {
    display: none;
}

.dropdown_menu_1 ul li:hover .dropdown_menu_2 {
    display: block;
    position: absolute;
    top: 0;
    left: 250px;
    background-color: var(--main-color);
}



.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

#base_logout_link,#base_login_link {
    background-color: black !important;
    border-radius: 2.5rem !important;
    color: white !important;
    padding: 1rem !important;

}


#base_sign_up_link {
    background-color: white !important;
    border-radius: 2.5rem !important;
    padding: 1rem !important;
    
}
/* base header syling ends */



/* Home page styling here */

.home {
    background-color: white;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 9rem;
    padding: 2rem;
    border-radius: 2.5rem;
    padding-top: 5rem;
    
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.home .welcome img#home_logo {
    border-radius: 2.5rem;
    max-width: 60rem;
    max-height:30rem;
}

#welcome_elias {
    width: 50%;
    margin-right: 5rem;
    background-color: white;
    padding: 2rem;
    font-size: 2rem;
    text-transform: none;
    border-radius: 2.5rem;
}

#welcome_elias span {
    font-size: 3rem;
    text-transform: none;
}



.home .why_pilearn{
    display: flex;
    flex-wrap:wrap;
    gap: 3rem;
    float: left;
    overflow: auto;
}

.home .why_pilearn .services {
    border: solid blue 1px;
    border-radius: 2rem;
    padding: 1.5rem;
    max-width: 35rem;
    height: 35rem;
}


/* Home page styling ends here */

/* topical_past_paper.html styling starts here */
.exam_boards, .subjects, .topics,.no_question_answer {
    overflow: auto;
    margin-top: 9rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -moz-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -webkit-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    background-color: var(--white);
    padding-bottom: auto;
  
}

.exam_boards .exam_board {
    border: solid blue 1px;
    border-radius: 2rem;
    color: black;
    font-size: 2.5rem;
    display: inline;
    margin: 2.5rem;
    padding: 3rem;
    float: left;
    background-color: white;    
}

.exam_boards .exam_board:hover, .subjects .subject:hover, .topics .topic:hover {
    color: purple;
}
/* topical_past_paper.html styling ends here */
/* subject_topical_past_paper.html styling starts here */
.subjects .subject, .topics .topic {
    color: black;
    background-color: white;
    font-size: 1.75rem;
    border: solid blue 1px;
    margin: 1.75rem;
    margin-top: 3rem;
    padding: 1.75rem;
    border-radius: 2.5rem;
    float: left;
}
.topics .panel_heading,.subjects .panel_heading,.no_question_answer .panel_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:10;
    margin-top: 2rem;
}

.subjects .panel_heading p,.subjects .panel_heading a,.topics .panel_heading p, .topics .panel_heading a,.no_question_answer .panel_heading a,.no_question_answer .panel_heading p {
    border-top-right-radius: 8rem 5rem;
    border-bottom-right-radius: 8rem 5rem;
    border-bottom-left-radius: 8rem 5rem;
    border-top-left-radius: 8rem 5rem;
    padding: 1.2rem;
    font-size: 1.75rem;
    color: black;
    background-color: var(--main-color);
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

/* subject_topical_past_paper.html styling ends here */
/* topics_topical_past_paper.html styling starts here */
/* styling above in subject_topical_past_paper */
/* topics_topical_past_paper.html styling ends here */


/* view_topical_past_paper.html styling starts here */

.question_answer .row, .row{
    display: flex;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
    margin-top: 9rem;
    background-color: grey;
    padding: 1.5rem;
    border-radius: 2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -moz-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -webkit-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
}

.question_answer .row .question_answer_select_panel, .row .answersheet {
    flex: 30%;
    height: 60rem;
    overflow: auto;
    margin-right: 1.5rem;
    background-color: var(--main-color);
    border-radius: 2.5rem;
   
}
.question_answer .row .question_answer_viewing_panel, .row .paper_one_question_ppr {
    display: flex;
    flex: 70%;
    height: 60rem;
    overflow: auto;
    margin-left: 1.5rem;
    background-color: var(--main-color);
    border-radius: 2.5rem;
}

.question_answer .row .question_answer_viewing_panel #view_it_hey {
    overflow: scroll;
}

.question_answer .row .question_answer_select_panel .questions,.question_answer .row .question_answer_select_panel .answers {
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.50rem;
    border-radius: 2.5rem;
    color: black;
}

.question_answer .row .question_answer_viewing_panel #initial_message {
    margin: 2rem;
    font-size: 3rem;
    color: black;
    text-transform: capitalize;
}

.question_answer .row .question_answer_viewing_panel p {
    margin: 2rem;
    font-size: 2rem;
    color: rgb(22, 173, 40);
    text-transform: none;
}


.question_answer .view_panel_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:10;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.question_answer .view_panel_heading .individual_reselect, .multiple_choice_heading .view_panel_heading .individual_reselect{
    border-top-right-radius: 8rem 5rem;
    border-bottom-right-radius: 8rem 5rem;
    border-bottom-left-radius: 8rem 5rem;
    border-top-left-radius: 8rem 5rem;
    padding: 1rem;
    font-size: 1.75rem;
    color: black;
    background-color: white;
    margin-top: 2.5rem;
}

.form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #fff;
    padding:2rem;
    border-radius: 20px;
    position: relative;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

.question_answer legend, .row .answersheet legend {
    background-color: var(--main-color);
    color:black;
    padding: 5px 10px;
    border-radius: 2rem;
}
.question_answer select {
    margin: 2rem;
}

.question_answer input, .row input {
    background-color: rgba(128, 0, 128, 0.66);
    padding: 0.5rem;
    border-radius: 2rem;
}

.question_answer .fielset_select {
    border: 2px rgba(128, 0, 128, 0.66) solid;
    padding: 0.5rem;
    border-radius: 2rem;
}

.row .question_answer_select_panel .message_above {
    padding: 1rem;
    font-size: 1.5rem;
}

.question_answer {
    margin-top: 8rem;
}

/* view_topical_past_paper.html styling ends here here  */


/* view_past_paper.html styling starts here */

.question_answer .session_question_list {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 2rem;
    border-radius: 2.5rem;
    background-color: white;
}

.question_answer .session_question_list a {
    display: inline-table;
    font-size: 1.5rem;
    background-color: white;
    padding: 0.5rem;
    color: black;
    border: 2px solid blue;
    border-radius: 2.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
.question_answer .session_question_list a:hover {
    color: purple;
}

.question_answer .session_question_list a:visited{
    color: blue;
}

.question_answer .session_question_list p {
    font-size: 1.5rem;
    color: black;
}



/* view_past_paper.html ends here */


/* taking_test.html styling starts here */

.form2 {

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding:2rem;
    border-radius: 20px;
    position: relative;
    padding-top: 3rem;
    
}

.row .answersheet legend {
    background-color: var(--main-color);
    color:black;
    padding: 5px 10px;
    border-radius: 2rem;
    margin-bottom: 2rem;
}


.row .answersheet .form2 fieldset p,.row .answersheet .form2 fieldset p .letter_answer {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.row .answersheet .form2 fieldset p span {
    color: purple;
}

.row .answersheet .form2 fieldset p input[type="radio"] {
    width: 2rem;
}

.taking_test_have_your_own_ppr p  {
    display: none;
}



/* taking_test.html ends here */

/* test_yourself.html styling starts here */
.paperonequestions {
    overflow: auto;
    margin-top: 9rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
    border-radius: 2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -moz-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    -webkit-border-radius:2rem 8rem 2rem 8rem / 1rem 4rem 1rem 4rem;
    background-color: white;
}

.paperonequestions .test_yourself_board {
    background-color: var(--main-color);
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    max-width: 60rem;
    padding: 1.0rem;
    border-radius: 2.5rem;
}

.paperonequestions .test_yourself_subject .test_yourself_subname {
    font-size: 2.5rem;
    margin-left: 3rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 2rem;
    max-width: 30rem;
    margin-bottom: 1.5rem;
    background-color: rgb(150, 150, 231);
}

.paperonequestions .test_yourself_subject .test_yourself_year {
    font-size: 2rem;
    margin-left: 6rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    max-width: 10rem;
    background-color: rgba(128, 0, 128, 0.66);
    padding-left: 1rem;
    color: white;
}

.paperonequestions .test_yourself_subject .test_yourself_session {
    font-size: 1.75rem;
    padding: 0.5rem;
    margin-left: 8rem;
    font-weight: bold;
}

.paperonequestions .test_yourself_subject .test_yourself_pp1_link {
    display: inline-table;
    font-size: 1.50rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border: 1px blue solid;
    padding: 0.5rem;
    border-radius: 2.5rem;
    color: black,
}

.paperonequestions .test_yourself_subject a {
    color: black;
}

.paperonequestions .test_yourself_subject .test_yourself_pp1_link:hover {
    background-color: var(--main-color);
}
/* test_yourself.html styling ends here */

/* test_grading.html styling starts here */

.view_test_data, .general_comments {
    background-color: white;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 9rem;
    border-radius: 2.5rem;
    overflow: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}


.further_question_explanation {
    background-color: white;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.grading_page_heading {
    background-color: var(--main-color);
    font-size: 2rem;
    border-radius: 2.5rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    max-width: 60rem;
    margin-top: 1.5rem;
}

.grading_er_comment_heading {
    font-size: 1.5rem;
    background-color: rgb(191, 72, 191);
    margin: 1.5rem;
    padding: 1rem;
    max-width: 13rem;
    border-radius: 2.5rem;
    color: white;
}

.grading_er_comment, .general_cmt_para {
    font-size: 1.5rem;
    margin: 1rem;
    margin-left: 7rem;
    text-transform: none;
}


.statistics {
    display: flex;
    flex-wrap:wrap;
    gap: 3rem;
    float: left;
    margin: 1rem;
}

.grading_data {
    border: solid blue 1px;
    border-radius: 2rem;
    padding: 1.5rem;
    max-width: 35rem;
    overflow: auto;
}

.grading_data h1 {
    font-size: 2.5rem;
    background-color: rgb(191, 72, 191);
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
    color: white;

}

.grading_data p {
    font-size: 1.5rem;
    margin-top: 1;
}
.test_grading_piilearn_record {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2.5rem;
}
/* test_grading.html stying ends here */

/* base footer styling starts here*/
.footer {
    background-size: cover;
    background-position: center;
    background-color: rgba(93, 63, 228, 0.133);
}

.footer .box-container {
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}

.footer .box-container .box {
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    padding: 1rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.footer .box-container .box a {
    color: blue;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.footer .box-container .box a {
    color: blue;
    margin-left: 3rem;
    
}

.footer .disclaimer {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.footer .disclaimer p {
    font-size: 1rem;
    text-transform: none;
}

.footer .copy_right {
    text-align: center;
    padding-top: 1.75rem;
    margin-top: 3rem;
    padding-bottom: 2.5rem;
    border-top: .1rem solid black;
    font-size: 1.5rem;
    color: black;
}

.footer .copy_right span {
    color: blue;
}

/* base footer styling ends here */

/* about_us.html, contact_us.html, terms_of_use.html, privacy.html  syling starts here */

.pi_learn_details {
    margin-top: 9rem;
    margin-bottom: 5rem;
    background-color: white;
    border-radius: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 0.1rem;
}

/* about_us.html, contact_us.html, terms_of_use.html, privacy.html  syling ends here */

/* about_us.html styling starts here */

.pi_learn_details .about_us_welx {
    font-size: 5rem;
    text-align: center;
}

.pi_learn_details .meet_our_team {
    font-size: 3rem;
    text-transform: none;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: center;
}

.pi_learn_details .about_us_intro {
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: none;
}

.pi_learn_details .about_us_people {
    display: flex;
    flex-wrap: wrap;
}

.pi_learn_details .about_us_people .each_space {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pi_learn_details .about_us_people .each_space .about_us_name {
    text-align: center;
    font-size: 2.5rem;
    color: blue;
}

.pi_learn_details .about_us_people .each_space {
    text-align: center;
    font-size: 1.5rem;
    color: grey;
    text-transform: none;
}

/* about_us.html styling ends here */


/* privacy.html and terms_of_use.html stylings starts here */
.privacy_intro {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.privacy_heading {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.privacy_heading, .pi_learn_details p {
    margin-left:1.5rem;
    margin-right: 1.5rem;
}

.pi_learn_details p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.about_us_each_term {
    margin: 1rem;
    background-color: #FAFAFA;
    margin-bottom: 2rem;
    border-radius: 2.5rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

.about_us_each_term  h1 {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    
}

.about_us_each_term p {
    margin-left: 3rem;
    font-size: 1.5rem;
}

.about_us_each_term ol li {
    font-size: 1.35rem;
    margin-left: 5rem;
}

.about_us_each_term ol li span {
    font-size: 1.5rem;
    font-weight: bold;
}


/* privacy.html and terms_of_use.html stylings ends here */


/* contact_us.html styling starts here */

/* contact_us.html styling ends here */

/* general initail styling starts here */

.piilearn_wrap_container {
    margin: auto;
    margin-top: 9rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: #FAFAFA;
    -webkik-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    text-transform: none;
    border-radius: 2.5rem;
}

/* general initial styling ends here*/

/* usertask_list.html styling starts here */
.header_bar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 2.5rem 2.5rem 0 0;
    background: linear-gradient(90deg,rgb(128, 128, 128) 0%,rgb(176, 11, 176) 43%, rgb(225, 155, 225) 100%);
}

.header_bar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.header_bar h1 {
    font-size: 3rem;
}

.header_bar h3 {
    font-size: 2rem;
    margin-left: 2rem;
    color: black;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid white;
}

.task-title {
    display: flex;
    
}

.task-title a {
    text-decoration: none;
    color: #222;
    margin-left: 10px;
    font-size: 1.5rem;
}

.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgba(105,192,105);
    border-radius: 50%;
}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgba(218,218,218);
    border-radius: 50%;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color:#cf4949;
    font-size: 2rem;
    line-height: 0;
}

#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#add-link {
    color: rgb(225, 139, 225);
    text-decoration: none;
    font-size: 42px;
    text-shadow: 1px 1px #81413b;
}

.piilearn_wrap_container  input[type=text], .piilearn_wrap_container  input[type=password],.piilearn_wrap_container  textarea {
    border: 1px solid purple;
    border-radius: 0.75rem;
    padding: 10px;
    margin: 1rem;
}

.piilearn_wrap_container  label {
    padding-top: 10px !important;
    display: block;
}

.all_buttons {
     border: 1px solid purple;
     background-color: #FAFAFA;
     color: blue;
     padding: 10px;
     font-size: 14px;
     border-radius: 0.75rem;
     cursor: pointer;
     text-decoration: none;
     margin: 1rem;
}

.card-body {
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: none;
}

.task-items-wrapper h3 {
    margin: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}
/* usertask_list.html styling ends here */

/* userprogress_list.html styling starts here */

/* userprogress_list.html styling ends here */

/* media queries */

@media (max-width:920px) {
    .hamburger {
        display: block;
        
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: var(--main-color);
        width: 100%;
        text-align: center;
        transition: .5s;

    }
    
    .menu_bar ul li:hover .dropdown_menu_1 {
        display: none;
    }
    


    .nav-menu.active {
        left: 0;
    }

    [id^=drop] {
        display: none;
    }

    /* view_topical_past_paper.html media queries start here */

    #remove_view_topical_past_paper_heading {
        display: none;
    }

    .question_answer .row {
        display: block;
        margin: 0;
        padding: 0;
        background-color: grey;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 0.75rem;
        margin-top: 2.5rem;
        padding-top: 2.5rem;
    }

    .question_answer .row .question_answer_select_panel {
        
        padding: 0;
        margin: 0;
        height: 25rem;
        margin-bottom:2.5rem;
    }

    .question_answer .row .question_answer_viewing_panel {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 25rem;
        margin-bottom:2.5rem;
    }

    .test_yourself_board {
        max-width: fit-content;
        max-height: fit-content;
        margin-right: 2.5rem;
    }

    /* view_topical_past_paper.html media queries ends here here */

    /* taking_test.html media queries starts here */
    .row {
        display:grid;
        margin: 0;
        padding: 0;
        background-color: grey;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 0.75rem;
        margin-top: 2.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .row .paper_one_question_ppr {
        margin-top: 2rem;
        max-height: 30rem;
    }

    .row .answersheet {
        max-height: 30rem;
    }

    .row {
        margin-bottom: 5rem;
    }
    .row .answersheet {
        margin: 0;
        padding: 0;
        
    }

    .row .answersheet .form2 fieldset p input[type="radio"]  {
        width: 1.75rem;
    }

    .individual_reselect {
        display: none;
    }
    .taking_test_have_your_own_ppr p {
        display: block;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        font-size: 1.75rem;
        text-transform: none;
    }
    /* taking_test.html media queries ends here */

    /* home.html media queries starts here */
    .home .welcome .inside {
        display: none;
    }

    .home .why_pilearn .services {
        height: fit-content;
    }

    /* home.html media queries ends here */

    /* form fields media queries starts here */
    .piilearn_wrap_container  input[type=text], .piilearn_wrap_container  input[type=password],.piilearn_wrap_container  textarea {
        max-width: 20rem;
    }
    /* form fields media queries ends here */

    /* table in the progress list queries starts here */
    /* table in the progress list queries ends here  */
}
