{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}About us | Pii Learn{% endblock title%}

{% block content %}

<section class="pi_learn_details">

     <p class="about_us_welx">
          Welcome to Pii Learn
     </p>


     <p class="about_us_intro">
          Pii Learn is a website made by students who wished there were such resouces when they were studying
     </p>

     <p class="meet_our_team">Meet the minds behind Pi-Learn.</p>

     <div class="about_us_people">

          <div class="each_space">
               <p>
                    <h1 class="about_us_name">Elias</h1>
                    <br>
                    <img src="{% static placeholderpic.picture %}" alt="placeholder">
                    <br>
                    Student
               </p>
          </div>

          <div class="each_space">
               <p>
                    <h1 class="about_us_name">Chetanya</h1>
                    <br>
                    <img src="{% static placeholderpic.picture %}" alt="placeholder">
                    <br>
                    Student

               </p>
          </div>

          <div class="each_space">
               <p>
                    <h1 class="about_us_name">Elvis</h1>
                    <br>
                    <img src="{% static placeholderpic.picture %}" alt="placeholder">
                    <br>
                    Student

               </p>
          </div>

          <div class="each_space">
               <p>
                    <h1 class="about_us_name">Mahendraditya</h1>
                    <br>
                    <img src="{% static placeholderpic.picture %}" alt="placeholder">
                    <br>
                    Student

               </p>
          </div>

          

     <div>

</section>



{% endblock content %}