{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}Welcome to Pii Learn{% endblock title%}

{% block content %}

<section class="home">

    <div class="welcome">
        <p id="welcome_elias">
            {% if request.user.is_authenticated %}
                {{request.user.username|title}}, 
            {% endif %}
        welcome to <br><span><strong>Pii Learn</strong></span></p>
        <p><img class="inside" src="{% static home_page_img.home_logo %}"  alt="" id="home_logo"></p>
    <div>


    <br>

    <h1 id="why_pilearn_header">Why Pii Learn<h1>
    <br>

    <div class="why_pilearn">

        <div class="services">
            <h1>Reliable</h1>
            <p>pii learn servers will be up 24/7 use our services any time</p>
        </div>

        <div class="services">

            <h1>Full Past Papers</h1>
            <p>
                looking for full up-to-date past papers? pi-lean got your back! prepare for your exams conveniently
                using pii learn
            </p>

        </div>

        <div class="services">
            <h1>Topical Past Papers</h1>
            <p>
                you wanna solidfy that one topic troubling you? pii learn, again, got you. with pii learn topical past papers
                you can choose any topic you wanna study and each question has an exam report comment that allows you to understand
                better.
            </p>
        </div>

        <div class="services">
            <h1>Test Yourself</h1>
            <p>
                save time with pii learn and keep track of your progress when you complete any multiple choice question paper.
                pii learn will calculate your mark and give you your grade according to the grade threshold of the paper you wrote.
                when signed in, you can see your progress on charts and record all the questions you got wrong.
            </p>
        </div>

        <div class="services">
            <h1>Notes</h1>
            <p>
                pii learn has notes available for some subjects and be sure to check them out. 
            </p>

        </div>
    </div>

</section>

{% endblock content %}
