{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}Home{% endblock title%}

{% block content %}

<section class="home">

    <div class="welcome">
        <p>Welcome to Pi-Learn</p>
        <p><img class="inside" src="{% static home_page_img.home_logo %}"  alt="" id="home_logo"></p>
    <div>


    <br>

    <h1 id="why_pilearn_header">Why Pi-Learn<h1>
    <br>

    <div class="why_pilearn">

        <div class="services">
            <h1>Reliable</h1>
            <p>pi-learn servers will be up 24/7 use our services an time</p>
        </div>

        <div class="services">

            <h1>Full Past Papers</h1>
            <p>
                looking for full up-to-date past papers? pi-lean got your back! prepare for your exams conveniently
                using pi-learn
            </p>

        </div>

        <div class="services">
            <h1>Topical Past Papers</h1>
            <p>
                you wanna solidfy that one topic troubling you? pi-learn, again, got you. with pi-learn topical past papers
                you can choose any topic you wanna study and each question has an exam report comment that allows you to understand
                better.
            </p>
        </div>

        <div class="services">
            <h1>Test Yourself</h1>
            <p>
                save time with pi-learn and keep track of your progress when you complete any multiple choice question paper.
                pi-learn will calculate your mark and give you your grade according to the grade threshold of the paper you wrote.
                with an account have a privige of seeing your progress on charts and record all the questions you fail and obviosly
                recommend the topics you should study.
            </p>
        </div>

        <div class="services">
            <h1>Notes</h1>
            <p>
                pi-learn's b4exam notes are short notes we encourage you to read before an exam. These are special notes where we
                answer each and every syllabus objective using questions that were set on that objective. if you do this I'm sure you won't miss
            </p>

        </div>
    </div>



    <section class="examboard">
        {% if all_exam_boards %}

            <h3> There are <span id="exam_board_num">{{ all_exam_boards.count }}</span> examboards available! </h3>
            {% for exam_board in all_exam_boards  %}

                <a href="" id="exam_board_names"> {{ exam_board.exam_board }} </a>
            
            
            {% endfor %}

        {% else %}

            <p> Sorry No exam boards available to show</p>

        {% endif %}


    </section>

</section>

{% endblock content %}
