{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}PiiLearn | My ToDo List{% endblock title %}


{% block content %}

<div class="piilearn_wrap_container">
    <div class="header_bar">
        <h1>Register</h1>
    </div>

    <div class="card-body">

        <form method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}
            {% comment %} <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}

            <label>{{form.password2.label}}</label>
            {{form.password2}} {% endcomment %}

            <br>
            <label for="TCs_checkbox">I agree to Pii Learn <a href="{% url 'examsolution:terms_of_use' %}">Terms of Use</a></label>
            <input type="checkbox" id="TCs_checkbox" required>
            <br>
            <label for="Dis_checkbox">I understand that if I lose my username and password. I won't be able to reset my password but to create a new account</label>
            <input type="checkbox" id="Dis_checkbox" required>
            <br>
            
            <input style="margin-top: 10px;" type="submit" value="Signup" class="all_buttons">
        </form>
        <br>
        <p>Already have an account? <a href="{% url 'examsolution:login' %}">Login</a></p>

    </div>


</div>

{% endblock content %}