{% extends 'examsolution/base.html' %}
{% load static %}

{% block title %}{{exam_board_selected.exam_board}} topical questions | Pii Learn{% endblock title %}



{% block content %}


<section class="subjects">

    {% if exam_board_selected.subject_set.all %}
        <div class="panel_heading">
            <p>You're looking at {{exam_board_selected.exam_board}} subjects</p>
            <a href="{% url 'examsolution:topical_past_paper' %}">Reselect exam board</a>
        </div>

        {% comment %} {% for subject in exam_board_selected.subject_set.all  %}
                <a class="subject" href="{% url 'examsolution:topics_topical_past_paper' exam_board_selected.exam_board subject.subject %}">{{subject.subject}}</a>
        {% endfor %} {% endcomment %}

        <a class="subject" href="{% url 'examsolution:topics_topical_past_paper' exam_board_selected.exam_board 'Mathematics ~ 9709' %}">Mathematics ~ 9709</a>
        <a class="subject" href="{% url 'examsolution:topics_topical_past_paper' exam_board_selected.exam_board 'Further Mathematics ~ 9231' %}">Further Mathematics ~ 9231</a>
        

    {% else %}
        <div class="panel_heading">
            <p>{{exam_board_selected.exam_board}} questions <strong>Coming soon!</strong></p>
            <a href="{% url 'examsolution:topical_past_paper' %}">Reselect exam board</a>
        </div>
    {% endif %}

</section>

{% endblock content %}