{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}Taking Test | Pii Learn{% endblock title %}

{% block content %}

<style>
    .taking_test_have_your_own_ppr p {
        display: block;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        font-size: 1.75rem;
        text-transform: none;
    }
</style>

<section class="question_answer">
    <div class="view_panel_heading" id="remove_taking_test_heading">
        <p class="individual_reselect" >You're doing {{mcq_paper_selected.full_question_name}} <p>
        <a class="individual_reselect" href="{% url 'examsolution:test_yourself' %}">Reselect Question Paper</a>
    </div>
</section>

    {% if not request.user.is_authenticated %}

    <div class="taking_test_have_your_own_ppr">
        <p>You're not logged in. If you submit without logging in Pii Learn won't be able to record data for <strong>({{mcq_paper_selected.full_question_name}}). </strong><a href=" {% url 'examsolution:login' %} ">Login</a></p>
    </div>

    {% endif %}



<div class="row">

    <div class="answersheet">

        <form action="{% url 'examsolution:test_grading' question_id%}" method="post" class="form2">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{mcq_paper_selected.full_question_name}}</h1></legend>
                {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

                {% for question in mcq_paper_selected_set %}

                    
                    <p>
                    <span>{{question.question_number_key.question_number}}.</span>
                    <input  type="radio" name="{{question.question_number_key.question_number}}" id="answer{{possible_answer1.id}}" value="{{possible_answer1.id}}" required>
                    <label class="letter_answer" for="answer{{possible_answer1.id}}"> {{possible_answer1.letter}} </label>
                    <input  type="radio" name="{{question.question_number_key.question_number}}" id="answer{{possible_answer2.id}}" value="{{possible_answer2.id}}">
                    <label class="letter_answer" for="answer{{possible_answer2.id}}"> {{possible_answer2.letter}} </label>
                    <input  type="radio" name="{{question.question_number_key.question_number}}" id="answer{{possible_answer3.id}}" value="{{possible_answer3.id}}">
                    <label class="letter_answer" for="answer{{possible_answer3.id}}"> {{possible_answer3.letter}} </label>
                    <input  type="radio" name="{{question.question_number_key.question_number}}" id="answer{{possible_answer4.id}}" value="{{possible_answer4.id}}">
                    <label class="letter_answer" for="answer{{possible_answer4.id}}"> {{possible_answer4.letter}} </label>
                    </p>
                            
                <br>

                    
                {% endfor %}

            </fieldset>
            <input type="submit" value="Submit">
    
        </form>

    </div>

    <div class="paper_one_question_ppr">
        <iframe src="{{mcq_paper_selected.google_drive_question_link}}" height='100%' width='100%' ></iframe> 
        {% comment %}  <iframe src="{% static mcq_paper_selected.full_question_directory %}" height='100%' width='100%' ></iframe> {% endcomment %}
    </div>

</div>


{% endblock content %}