{% extends 'examsolution/base.html' %}
{% load static %}

{% block title %}Terms of Use | Pii Learn{% endblock title %}

{% block content %}

<section class="pi_learn_details">
    <div class="about_us_each_term">
        <h1>Acceptance of Terms</h1>
        <p>
            By accessing and using the Pii Learn website
            (hereinafter referred to as "the Site"), you agree to be bound by 
            these Terms and Conditions. These Terms and Conditions govern your use of  
            the Site and its services, including all content, features, and functionality. 
            If you do not agree with any part of these Terms and Conditions, please refrain 
            from using the Site.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Services Offered</h1>
        <p>
            Pii Learn provides a wide range of educational services aimed at assisting 
            students studying for the Cambridge AS and A Levels. These services include 
            access to past year papers, grading help, educational worksheets, comprehensive 
            notes, topical past papers, topic-wise questions, and a "Test Yourself" feature. All these 
            services are offered free of charge to all users.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Availability of Services</h1>
        <p>
            Pii Learn endeavors to maintain the availability of its services and ensure 
            uninterrupted access to the Site. However, it is important to note that due 
            to factors beyond Pii Learn's control, such as technical issues, maintenance 
            requirements, or unforeseen circumstances, uninterrupted availability cannot 
            be guaranteed. Pii Learn reserves the right to suspend or terminate the services 
            temporarily or permanently, without prior notice, for any reason deemed appropriate 
            by Pii Learn.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Past Papers</h1>
        <p>
            Pii Learn grants users access to a comprehensive collection of up-to-date past papers 
            for Cambridge AS and A Levels. They are intended solely for educational purposes.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Topical Past Papers</h1>
        <p>
            Pii Learn offers users topical past papers, which focus on specific subjects or topics 
            within the Cambridge AS and A Level curriculum. These topical past papers aim to help 
            students reinforce their understanding of particular subjects by providing a focused 
            set of questions. Each question in the topical past papers is accompanied by an exam 
            report comment, which offers additional insights and explanations. However, it is 
            important to note that while Pii Learn strives to match each question to its respective 
            exam report comment, the matching of these comments cannot be guaranteed. The formatting 
            of some of the text, for example in Maths, may be distorted we recommend you to open the 
            exam report to see the original text.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Worksheets</h1>
        <p>
            To cater for students who have no internet access all the time, Pii Learn has downloadable 
            worksheets. These worksheets are created from Cambridge As and A level past papers and 
            they are classfied into topics. The creation of the worksheets and the sorting of questions 
            into their topics is done by Pii Learn and Cambridge did not take part. Pii Learn strives to 
            put each question under its appropriate topic, but that does not guarantee the correctness of 
            the classification. If you think they have been some error in the classification of the question
            make sure to contact us for corrections to be made.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Test Yourself</h1>
        <p>
            Pii Learn's "Test Yourself" feature allows users to save time by completing multiple-choice question 
            papers and track their progress. The Site calculates the user's mark and provides a grade according 
            to the grade threshold of the paper. Users with an account can view their progress on charts and 
            record the questions they fail. Additionally, Pii Learn may recommend topics for further study based 
            on the user's performance. However, it is crucial to understand that the grading and recommendations 
            provided through the "Test Yourself" feature are intended solely for educational purposes and should 
            not be considered as official assessments or guarantees of performance.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Notes</h1>
        <p>
            Pii Learn offers comprehensive notes specifically designed to aid students in their exam preparation 
            for Cambridge AS and A Levels. These notes cover the syllabus objectives and provide explanations 
            using questions from past papers. Pii Learn strives to provide accurate and helpful information through 
            these notes. However, it is important to note that the completeness or correctness of the notes cannot 
            be guaranteed, as individual study materials and preferences may vary. This is not a substitute of what 
            your teacher offers you in class, but take it as a supplement to improve your performance in your exams.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Topic-Wise Questions</h1>
        <p>
            Pii Learn provides topic-wise questions to assist users in practicing specific areas of study within the 
            Cambridge AS and A Level curriculum. These questions are designed to reinforce understanding and 
            knowledge in a targeted manner. They cover various topics and subtopics, allowing students to focus 
            on specific areas that require further practice. While Pii Learn strives to provide accurate and 
            effective topic-wise questions, the effectiveness may vary depending on individual learning styles and needs.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>User Accounts</h1>
        <p>
            Pii Learn offers users the option to create an account on the Site, providing them with additional 
            features and personalized benefits. By creating an account, users can save their previous grades, 
            attempt multiple-choice question papers, access worksheets, and utilize other personalized features. 
            User accounts are subject to the terms and conditions outlined in the Privacy Policy. Pii Learn reserves 
            the right to suspend or terminate user accounts for any violation of these Terms and Conditions or for 
            any other reason deemed appropriate by Pii Learn.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Intellectual Property Rights</h1>
        <p>
            Users are prohibited from copying, reproducing, modifying, distributing, or using the content and 
            services in any manner that infringes upon these intellectual property rights without prior written 
            permission. Any unauthorized use of the content or services may result in legal action.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Limitation of Liability</h1>
        <p>
            Pii Learn shall not be held liable for any direct, indirect, incidental, consequential, or 
            special damages arising out of or in connection with the use or inability to use the services 
            provided on the Site. This includes, but is not limited to, damages for loss of profits, data, 
            or other intangible losses, even if Pii Learn has been advised of the possibility of such damages. 
            Pii Learn assumes no responsibility for any errors, omissions, interruptions, or inaccuracies in the 
            content or services provided on the Site. Users acknowledge that they use the Site and its services 
            at their own risk.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Indemnification</h1>
        <p>
            By using the services on the Site, users agree to indemnify and hold Pii Learn, its employees, 
            directors, and affiliates harmless from any claims, losses, liabilities, damages, costs, or 
            expenses arising out of or in connection with their use of the Site or any violation of these 
            Terms and Conditions. This includes, but is not limited to, any third-party claims or actions 
            arising from the user's use of the content or services on the Site.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Modifications to the Terms and Conditions</h1>
        <p>
            Pii Learn reserves the right to modify or update these Terms and Conditions at any time with prior 
            notice. Any changes will be effective immediately upon posting on the Site. It is the user's 
            responsibility to review these Terms and Conditions periodically to stay informed about any updates. 
            By continuing to use the Site after any modifications, users indicate their acceptance of the revised 
            Terms and Conditions.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Termination</h1>
        <p>
            Pii Learn reserves the right to suspend or terminate users' access to the Site and its 
            services at any time and for any reason with prior notice. Upon termination, users must 
            cease all use of the Site and any content or services provided by Pii Learn.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Governing Law and Jurisdiction</h1>
        <p>
            These Terms and Conditions shall be governed by and construed in accordance with 
            the laws of the jurisdiction in which Pii Learn operates. Any legal actions or 
            proceedings arising out of or in connection with these Terms and Conditions shall be 
            brought exclusively in the courts of that jurisdiction.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Severability</h1>
        <p>
            If any provision of these Terms and Conditions is found to be invalid, illegal, 
            or unenforceable, the remaining provisions shall continue to be valid, legal, and 
            enforceable to the fullest extent permitted by law. In such cases, the invalid or 
            unenforceable provision will be modified or interpreted to the extent necessary to 
            make it valid and enforceable while preserving its intended purpose to the maximum extent possible.
        </p>
    </div>


    <div class="about_us_each_term">
        <h1>Entire Agreement</h1>
        <p>
            These Terms and Conditions, together with the Privacy Policy, constitute the entire agreement 
            between you and Pii Learn regarding your use of the Site and supersede any prior agreements or 
            understandings, whether written or oral. Any additional terms or conditions provided by Pii Learn 
            in connection with specific services shall be considered an integral part of these Terms and Conditions.
        </p>
    </div>

    <div class="about_us_each_term">
        <h1>Contact Information</h1>
        <p>
            If you have any questions, concerns, or feedback regarding these Terms and Conditions, 
            please contact Pii Learn using the contact information provided on the Site. Pii Learn aims 
            to address user inquiries promptly and provide necessary assistance or clarification 
            regarding the use of its services and compliance with these Terms and Conditions.
        </p>
    </div>
</section>



{% endblock content %}