{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}Test Yourself | Pii Learn{% endblock title %}

{% block content %}

<section class="paperonequestions">

    <div class="test_yourself_heading">
        <p class="test_yourself_board">Cambridge as and a level MCQs<p>
    </div>

    <div class="test_yourself_subject">

        <p class="test_yourself_subname"><strong>Chemistry ~ 9701</strong></p>
            <p class="test_yourself_year">2022</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Chem_9701_2022_March_multiple_choice_available_list %}
                
                        {% for mcq in Chem_9701_2022_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>
                    {% if Chem_9701_2022_June_multiple_choice_available_list %}
                    
                        {% for mcq in Chem_9701_2022_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">October/November</p>

                    {% if Chem_9701_2022_November_multiple_choice_available_list %}
                        
                        {% for mcq in Chem_9701_2022_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                
            <p class="test_yourself_year">2021</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Chem_9701_2021_March_multiple_choice_available_list %}
                            
                        {% for mcq in Chem_9701_2021_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>

                    {% if Chem_9701_2021_June_multiple_choice_available_list %}
                                
                        {% for mcq in Chem_9701_2021_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                    
                <p class="test_yourself_session">October/November</p>

                    {% if Chem_9701_2021_November_multiple_choice_available_list %}
                                    
                        {% for mcq in Chem_9701_2021_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

            <p class="test_yourself_year">2020</p>
                <p class="test_yourself_session">February/March</p>
                    {% if Chem_9701_2020_March_multiple_choice_available_list %}
                                        
                        {% for mcq in Chem_9701_2020_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">May/June</p>
                    {% if Chem_9701_2020_June_multiple_choice_available_list %}
                                            
                        {% for mcq in Chem_9701_2020_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">October/November</p>
                    {% if Chem_9701_2020_November_multiple_choice_available_list %}
                                                
                        {% for mcq in Chem_9701_2020_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                

    </div>

    <div class="test_yourself_subject">

        <p class="test_yourself_subname"><strong>Physics ~ 9702</strong></p>
            <p class="test_yourself_year">2022</p>
                <p class="test_yourself_session">February/March</p>
                
                    {% if Phy_9702_2022_March_multiple_choice_available_list %}
                                                    
                        {% for mcq in Phy_9702_2022_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}


                <p class="test_yourself_session">May/June</p>

                    {% if Phy_9702_2022_June_multiple_choice_available_list %}
                                                        
                        {% for mcq in Phy_9702_2022_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">October/November</p>


                    {% if Phy_9702_2022_November_multiple_choice_available_list %}
                                                            
                        {% for mcq in Phy_9702_2022_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                
            <p class="test_yourself_year">2021</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Phy_9702_2021_March_multiple_choice_available_list %}
                                                                
                        {% for mcq in Phy_9702_2021_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>
                    {% if Phy_9702_2021_June_multiple_choice_available_list %}
                                                                    
                        {% for mcq in Phy_9702_2021_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}" > {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">October/November</p>
                    {% if Phy_9702_2021_November_multiple_choice_available_list %}
                                                                        
                        {% for mcq in Phy_9702_2021_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                    
            <p class="test_yourself_year">2020</p>
                <p class="test_yourself_session">February/March</p>
                    {% if Phy_9702_2020_March_multiple_choice_available_list %}
                                                                            
                        {% for mcq in Phy_9702_2020_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">May/June</p>
                    {% if Phy_9702_2020_June_multiple_choice_available_list %}
                                                                                
                        {% for mcq in Phy_9702_2020_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">October/November</p>
                    {% if Phy_9702_2020_November_multiple_choice_available_list %}
                                                                                
                        {% for mcq in Phy_9702_2020_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

    </div>

    <div class="test_yourself_subject">

        <p class="test_yourself_subname"><strong>Biology ~ 9700</strong></p>
            <p class="test_yourself_year">2022</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Bio_9700_2022_March_multiple_choice_available_list %}
                                                                                    
                        {% for mcq in Bio_9700_2022_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>

                    {% if Bio_9700_2022_June_multiple_choice_available_list %}
                                                                                        
                        {% for mcq in Bio_9700_2022_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                    
                <p class="test_yourself_session">October/November</p>

                    {% if Bio_9700_2022_November_multiple_choice_available_list %}
                                                                                            
                        {% for mcq in Bio_9700_2022_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                
            <p class="test_yourself_year">2021</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Bio_9700_2021_March_multiple_choice_available_list %}
                                                                                                
                        {% for mcq in Bio_9700_2021_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>

                    {% if Bio_9700_2021_June_multiple_choice_available_list %}
                                                                                                        
                        {% for mcq in Bio_9700_2021_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                
                <p class="test_yourself_session">October/November</p>

                    {% if Bio_9700_2021_November_multiple_choice_available_list %}
                                                                                                            
                        {% for mcq in Bio_9700_2021_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
            <p class="test_yourself_year">2020</p>
                <p class="test_yourself_session">February/March</p>
                    {% if Bio_9700_2020_March_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">May/June</p>
                    {% if Bio_9700_2020_June_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">October/November</p>

                    {% if Bio_9700_2020_November_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

    </div>

    <div class="test_yourself_subject">

        <p class="test_yourself_subname"><strong>Economics ~ 9708</strong></p>
            <p class="test_yourself_year">2022</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Econ_9708_2022_March_multiple_choice_available_list %}
                                                                                    
                        {% for mcq in Econ_9708_2022_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>

                    {% if Econ_9700_2022_June_multiple_choice_available_list %}
                                                                                        
                        {% for mcq in Econ_9700_2022_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                    
                <p class="test_yourself_session">October/November</p>

                    {% if Econ_9700_2022_November_multiple_choice_available_list %}
                                                                                            
                        {% for mcq in Econ_9700_2022_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p style="display:none;">MCQs not available</p>

                    {% endif %}

                    {% comment %} 
            <p class="test_yourself_year">2021</p>
                <p class="test_yourself_session">February/March</p>

                    {% if Bio_9700_2021_March_multiple_choice_available_list %}
                                                                                                
                        {% for mcq in Bio_9700_2021_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

                <p class="test_yourself_session">May/June</p>

                    {% if Bio_9700_2021_June_multiple_choice_available_list %}
                                                                                                        
                        {% for mcq in Bio_9700_2021_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                
                <p class="test_yourself_session">October/November</p>

                    {% if Bio_9700_2021_November_multiple_choice_available_list %}
                                                                                                            
                        {% for mcq in Bio_9700_2021_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
            <p class="test_yourself_year">2020</p>
                <p class="test_yourself_session">February/March</p>
                    {% if Bio_9700_2020_March_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_March_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">May/June</p>
                    {% if Bio_9700_2020_June_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_June_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}
                <p class="test_yourself_session">October/November</p>

                    {% if Bio_9700_2020_November_multiple_choice_available_list %}
                                                                                                                
                        {% for mcq in Bio_9700_2020_November_multiple_choice_available_list %}

                            <a class="test_yourself_pp1_link" href="{% url 'examsolution:taking_test' mcq.id %}"> {{mcq.full_question_name}} </a>
                            <br>

                        {% endfor %}

                    {% else %}

                        <p>MCQs not available</p>

                    {% endif %}

            {% endcomment %}

    </div> 


</section>

{% endblock content %}


