{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}Test Yourself{% endblock title %}

{% block content %}

<section class="paperonequestions">

    <section class="multiple_choice_heading">
        <div class="view_panel_heading">
            <p class="individual_reselect" >Cambridge multiple choice questions <p>
            <a class="individual_reselect" href="{% url 'examsolution:home' %}">Back Home</a>
        </div>
    </section>

    {% if multiple_choice_available_list %}

        {% for mcq in multiple_choice_available_list %}
        
            <h1><a href="{% url 'examsolution:taking_test' mcq.id %}" class="multiple_choice_questions"> {{mcq.full_question_name}} </a></h1>
        {% endfor %}

    {% else %}

        <h1>No multiple questions available</h1>

    {% endif %}
    
</section>

<section class="paperonequestions">
    <section class="multiple_choice_heading">
        <div class="view_panel_heading">
            <p class="individual_reselect" >Cambridge multiple choice questions <p>
            <a class="individual_reselect" href="{% url 'examsolution:home' %}">Back Home</a>
        </div>
    </section>

</section>

<section class="paperonequestions">
    <section class="multiple_choice_heading">
        <div class="view_panel_heading">
            <p class="individual_reselect" >Cambridge multiple choice questions <p>
            <a class="individual_reselect" href="{% url 'examsolution:home' %}">Back Home</a>
        </div>
    </section>


</section>

{% endblock content %}


