{% extends 'examsolution/base.html' %}
{% load static %}
{% block title %}My Exam Progress | Pii Learn{% endblock title %}

{% block content %}

<style>
    .user_progress_tables {
        margin-top:9rem;
        margin-left:2.5rem;
        margin-right:2.5rem;
        margin-bottom:5rem;
        background-color:white;
        border-radius:2.5rem;
        padding:3rem;
        font-size:1.75rem;
        display:block;
    }

    .user_progress_tables div a {
        margin-left:1.75rem
    }

    .user_progress_tables table{
        width:100%;
        border-collapse: collapse;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2.5rem;
        margin-right: 2rem;
    }

    .user_progress_tables table tr td a {
        color:purple;
        padding:0.25rem;
        border-radius:2.5rem;
    }

    .user_progress_tables table tr td a:hover{
        background-color:var(--main-color);
    }

    .bio_table, .bio_table tr th {
        border: 2px solid green;
    }

    .bio_table tr td {
        text-align: center;
        padding:0.5rem;
    }

    .bio_table_td {
        border: 2px solid green;
    }

    .chem_table, .chem_table tr th {
        border: 2px solid blue;
    }

    .chem_table tr td {
        text-align: center;
        padding:0.5rem;
    }

    .chem_table_td{
        border: 2px solid blue;
    }

    .phys_table, .phys_table tr th {
        border: 2px solid orange;
    }
    
    .phys_table tr td {
        text-align: center;
        padding:0.5rem;
    }

    .phys_table_td {
        border: 2px solid orange;
    }

    .econ_table, .econ_table tr th {
        border: 2px solid red;
    }
    
    .econ_table tr td {
        text-align: center;
        padding:0.5rem;
    }

    .econ_table_td {
        border: 2px solid red;
    }
</style>

<section class="user_progress_tables">

    <div>

        <h3 style='color:green;'>Biology Papers you have completed</h3>
        <a style="color:green;" href="{% url 'examsolution:test_yourself' %}">Take Biology ~ 9700 multiple choice</a>
        <br>

        {% if bio_user_past_paper_taken_list %}

            <table class="bio_table">

                    <tr>
                        <th></th>
                        <th>Date Completed</th>
                        <th>Paper written</th>
                        <th>Raw Mark</th>
                        <th class="dont_show_scr_small">Percentage</th>
                        <th class="dont_show_scr_small">Grade</th>
                        {% comment %} <th></th> {% endcomment %}
                    
                    </tr>
                {% for mcq_taken in bio_user_past_paper_taken_list %}

                    <tr>
                        <td></td>
                        <td class="bio_table_td"> {{mcq_taken.date_completed.date}} </td>
                        <td class="bio_table_td"> {{mcq_taken.paper_written}} </td>
                        <td class="bio_table_td"> {{mcq_taken.raw_mark}}/40</td>
                        <td class="bio_table_td" class="dont_show_scr_small"> {{mcq_taken.percentage}}%</td>
                        <td class="bio_table_td" class="dont_show_scr_small"> {% if mcq_taken.letter_grade %} {{mcq_taken.letter_grade}} {% else %}No Data{% endif %}</td>
                        {% comment %} <td class="bio_table_td"><a href="{% url 'examsolution:full_revision_of_written_paper' mcq_taken.paper_written %}">Revise paper</a></td> {% endcomment %}
                        
                    </tr>
                    
                {% endfor %}
                    <tr>
                        <td class="bio_table_td" ><strong>Average</strong></td>
                        <td></td>
                        <td></td>
                        <td class="bio_table_td"> {{bio_raw_average}}/40 </td>
                        <td class="bio_table_td" class="dont_show_scr_small"> {{bio_perce_average}}% </td>
                        <td class="dont_show_scr_small"></td>
                    </tr>

            </table>

        {% else %}

            <p>You haven't completed <strong>Biology ~ 9700</strong> multiple choice past paper on this site</p>


        {% endif %}

    </div>

    <br>

    <div>
        <h3 style="color:blue;">Chemistry Papers you completed</h3>
        <a style="color:blue;" href="{% url 'examsolution:test_yourself' %}">Take Chemistry ~ 9701 multiple choice</a>
        <br>

        {% if chem_user_past_paper_taken_list %}

            <table class="chem_table">

                    <tr>
                        <th></th>
                        <th>Date Completed</th>
                        <th>Paper written</th>
                        <th>Raw Mark</th>
                        <th class="dont_show_scr_small">Percentage</th>
                        <th class="dont_show_scr_small">Grade</th>
                        {% comment %} <th></th> {% endcomment %}
                    
                    </tr>

                {% for mcq_taken in chem_user_past_paper_taken_list %}

                    <tr>
                        <td></td>
                        <td class="chem_table_td"> {{mcq_taken.date_completed.date}} </td>
                        <td class="chem_table_td"> {{mcq_taken.paper_written}} </td>
                        <td class="chem_table_td"> {{mcq_taken.raw_mark}}/40</td>
                        <td class="chem_table_td" class="dont_show_scr_small"> {{mcq_taken.percentage}}%</td>
                        <td class="chem_table_td" class="dont_show_scr_small"> {% if mcq_taken.letter_grade %} {{mcq_taken.letter_grade}} {% else %}No Data{% endif %}</td>
                        {% comment %} <td class="chem_table_td"><a href="{% url 'examsolution:full_revision_of_written_paper' mcq_taken.paper_written %}">Revise paper</a></td> {% endcomment %}
                        
                    </tr>
                    
                {% endfor %}
                    <tr>
                        <td class="chem_table_td"><strong>Average</strong></td>
                        <td></td>
                        <td></td>
                        <td class="chem_table_td"> {{chem_raw_average}}/40 </td>
                        <td class="chem_table_td"> {{chem_perce_average}}% </td>
                    </tr>

            </table>

        {% else %}

            <p>You haven't completed <strong>Chemistry ~ 9701</strong> multiple choice past paper on this site</p>


        {% endif %}

    </div>

    <br>

    <div>

        <h3 style="color:orange;">Physics Papers you completed</h3>
        <a style="color:orange;" href="{% url 'examsolution:test_yourself' %}">Take Physics ~ 9702 multiple choice</a>
        <br>

        {% if phy_user_past_paper_taken_list %}

            <table class="phys_table">

                    <tr>
                        <th></th>
                        <th>Date Completed</th>
                        <th>Paper written</th>
                        <th>Raw Mark</th>
                        <th class="dont_show_scr_small">Percentage</th>
                        <th class="dont_show_scr_small">Grade</th>
                        {% comment %} <th></th> {% endcomment %}
                    
                    </tr>

                {% for mcq_taken in phy_user_past_paper_taken_list %}

                    <tr>
                        <td></td>
                        <td class="phys_table_td"> {{mcq_taken.date_completed.date}} </td>
                        <td class="phys_table_td"> {{mcq_taken.paper_written}} </td>
                        <td class="phys_table_td"> {{mcq_taken.raw_mark}}/40</td>
                        <td class="phys_table_td" class="dont_show_scr_small"> {{mcq_taken.percentage}}%</td>
                        <td class="phys_table_td" class="dont_show_scr_small"> {% if mcq_taken.letter_grade %} {{mcq_taken.letter_grade}} {% else %}No Data{% endif %}</td>
                        {% comment %} <td class="phys_table_td"><a href="{% url 'examsolution:full_revision_of_written_paper' mcq_taken.paper_written %}">Revise paper</a></td> {% endcomment %}

                    </tr>
                    
                {% endfor %}
                    <tr>
                        <td class="phys_table_td"><strong>Average</strong></td>
                        <td></td>
                        <td></td>
                        <td class="phys_table_td"> {{phsy_raw_average}}/40 </td>
                        <td class="phys_table_td"> {{phys_perce_average}}% </td>
                    </tr>

            </table>

        {% else %}

            <p>You haven't completed <strong>Physics ~ 9702</strong> multiple choice past paper on this site</p>


        {% endif %}

    </div>

    <div>

        <h3 style="color:red;">Ecomomics Papers you completed</h3>
        <a style="color:red;" href="{% url 'examsolution:test_yourself' %}">Take Economics ~ 9708 multiple choice</a>
        <br>

        {% if phy_user_past_paper_taken_list %}

            <table class="econ_table">

                    <tr>
                        <th></th>
                        <th>Date Completed</th>
                        <th>Paper written</th>
                        <th>Raw Mark</th>
                        <th class="dont_show_scr_small">Percentage</th>
                        <th class="dont_show_scr_small">Grade</th>
                        {% comment %} <th></th> {% endcomment %}
                    
                    </tr>

                {% for mcq_taken in econ_user_past_paper_taken_list %}

                    <tr>
                        <td></td>
                        <td class="econ_table_td"> {{mcq_taken.date_completed.date}} </td>
                        <td class="econ_table_td"> {{mcq_taken.paper_written}} </td>
                        <td class="econ_table_td"> {{mcq_taken.raw_mark}}/30</td>
                        <td class="econ_table_td" class="dont_show_scr_small"> {{mcq_taken.percentage}}%</td>
                        <td class="econ_table_td" class="dont_show_scr_small"> {% if mcq_taken.letter_grade %} {{mcq_taken.letter_grade}} {% else %}No Data{% endif %}</td>
                        {% comment %} <td class="econ_table_td"><a href="{% url 'examsolution:full_revision_of_written_paper' mcq_taken.paper_written %}">Revise paper</a></td> {% endcomment %}

                    </tr>
                    
                {% endfor %}
                    <tr>
                        <td class="econ_table_td"><strong>Average</strong></td>
                        <td></td>
                        <td></td>
                        <td class="econ_table_td"> {{econ_raw_average}}/30 </td>
                        <td class="econ_table_td"> {{econ_perce_average}}% </td>
                    </tr>

            </table>

        {% else %}

            <p>You haven't completed <strong>Economics ~ 9708</strong> multiple choice past paper on this site</p>


        {% endif %}

    </div>

</section>

{% endblock content %}